@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius:  10px;
    box-shadow: 3px 5px 4px lightgrey;
}

nav {

    background-color: antiquewhite;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 3px 5px 4px lightgoldenrodyellow;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-right: 30px;
    margin-left: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px lightgrey;
}

#assuntos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 40px;
    margin-left: 10px;
    
}

#assuntos > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: 30px;
}


article {
    background-color: antiquewhite;
    text-align: justify;
    border-radius: 10px;
}

article > h2 {
    margin-left: 10px;
}

article > p {
    margin-left: 10px;
}

article > aside {
    background-color: beige;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10px;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
    border-radius: 10px;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}